## Evaluating model using scoring parameter

In [1]:
import pandas as pd
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, train_test_split
import numpy as np
np.random.seed(42)

#create data

x=heart_disease.drop("target", axis=1)
y=heart_disease["target"]


#splitting data

x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

#create classifier

clf=RandomForestClassifier()

#fit the model
clf.fit(x_train, y_train)

#evaluate the model

clf.score(x_test, y_test)

0.8524590163934426

In [9]:
cross_val_score(clf, x, y, cv=10)

array([0.90322581, 0.80645161, 0.87096774, 0.9       , 0.86666667,
       0.8       , 0.73333333, 0.86666667, 0.73333333, 0.8       ])

## Purpose of Cross-Validation
Reliable Performance Estimation: Cross-validation provides a more accurate measure of a model's performance compared to a single train-test split. It helps in assessing how the model generalizes to an independent dataset.

Variance Reduction: By training and testing the model on different subsets of the data, cross-validation reduces the variance associated with the random sampling of the training and test data.

Hyperparameter Tuning: helps in selecting the best parameters by providing a more reliable performance metric.

Model Selection: It aids in comparing different machine learning algorithms or different versions of a model to select the best-performing one.

In [12]:
np.random.seed(42)

#single training and test split score

clf_single_score=clf.score(x_test, y_test)

clf_cross_val_score=np.mean(cross_val_score(clf, x,y,cv=5))

# compare the 2
clf_single_score, clf_cross_val_score

(0.8524590163934426, 0.8248087431693989)

In [13]:
# scoring parameter set to none by default

cross_val_score(clf,x,y,cv=5, scoring=None)

array([0.78688525, 0.86885246, 0.80327869, 0.78333333, 0.76666667])

In [15]:
# default scoring parameter of classifier =mean accuracy